<app-header></app-header>
<div class="search-container">
  <input 
      type="text" 
      name="searchBy"
      placeholder="Search todos..."
      [(ngModel)]="searchBy" 
      />
      <button (click)="searchTodos()">Search</button>

</div>

    <!-- {{ searchBy() }} --> <!-- To TEST the signal is updating its value -->

@if (todos().length <= 0) {
<p>Loading...</p>
} @else {
  <div class="container">
  <ul>
  @for (todo of todos() | filterTodos : searchBy(); track todo.id) {
    <li appHighlightCompleted [isCompleted]="todo.completed">
    <div class="card">
      <input type="checkbox" 
             [checked]="todo.completed" 
             (change)="toggleTodo(todo.id)" />
      <h3>{{ todo.title | titlecase }}</h3>
      <p>Status: {{ todo.completed ? 'Completed' : 'Pending' }}</p>
      <p>User ID: {{ todo.userId }}</p>
    </div>
    </li>
  }
  </ul>
</div>
}